<!DOCTYPE html>
<html>
  <head>
    <title>About One</title>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/content.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  </head>
  <body>
    <div id="page">
      <header>
        <nav>
          <h1><a href="/content">About One</a></h1>
        </nav>
      </header>
      <div id="main">
        <ul id="me">
          <li>
              <form id="search">
                <input type="text" name="search" value="ciciraoxi">
                <button type="submit" value="twt">GET TWEET</button>
				        <button type="submit" value="twp">PIC WALL</button>
              </form>
          </li>
          <!-- <li>
              <form id="fb">
                <input type="text" name="search" value="xi.rao.12">
                <button type="submit" value="fbf">GET FB</button>
                <button type="submit" value="fbp">PIC WALL</button>
              </form>
          </li> -->
        </ul>
        <ul id="users">
        </ul>
        <ul id="feeds">
        </ul>
		    <ul id="pics">
        </ul>
      </div>
    </div>
    <script src="/js/content.js"></script>
    <script src="/js/fb.js"></script>
  </body>
</html>
