＃page {
  background-color: #e4e4e4;
  width: 100%;
  height: 100%;
}

/****** header ***********/
header {
  height: 5.4em;
  width: 100%;
  background-color: #323232;
}
nav {
  width: 78%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
h1 {
  font: 3em/1.2 Skia;
  color: #dadada;
  position: relative;
  float: left;
  bottom: -0.3em;
  margin-right:0.5em;
}
h2 {
  font: 1.8em/1.2 Skia;
  color: #dadada;
  float: left;
  position: relative;
  bottom: -1.07em;
}
ul {
  float: left;
  list-style: none;
}
#me {
display: inline;
  width: 100%;
  margin: 2em 0;
}
#me li {
  float: left;
  margin-right: 2em;
}
input {
  height: 2.2em;
  border: 1px solid #aaa;
}
button {
  width: 7em;
  height: 2.5em;
  font-family: Helvetica;
  background-color: #4080A0;
  color: white;
  border: none;
}
/********************* content ******************/
#main {
  width: 80%;
  margin: 0 auto;
}
#feeds {
  width: 100%;
}
#feeds section {
  width: 80%;
  margin:0;
  padding: 5%;
  background-color: #f0f0f0;
  -moz-box-shadow:0px 2px 2px #878787; 
  -webkit-box-shadow:0px 2px 2px #878787; 
  box-shadow:0px 2px 2px #878787;
}
#feeds li {
  width: 20%;
  float: left;
  margin-bottom: .8em;
}
/*#feeds li:nth-child(5n) {
  float: right;
}*/
img {
  float:left;
  border: 1px solid #ccc;
  width:100%;
}
section {
  width: 60%;
  float: left;
  padding: 0.1em 0.5em 0.5em;
}
h3 {
  font: 1.4em/1 helvetica;
  font-weight: 700;
  color: #555;
  text-align: left;
}
p {
  font: 1.2em/1.5 Helvetica;
  font-weight: 300;
  margin: 0.8em 0;
  color: #222;
  text-align: left;
}
footer {
  display: inline-block;
  width: 100%;
}
.source {
  float: left;
}
small {
  float: left;
  color: #aaa;
  margin-top: .5em;
}
#users {
  width: 100%;
  height: 5em;
}
#users li img {
  width: 48px;
  height: 48px;
  border: 1px solid #bbb;
  float: left;
}
.story {
  width: 100%;
  text-align: left;
}
/*************/

#pics li{
  width: 25%;
  float: left;
  overflow: hidden;
  max-height: 15em;
}
